@model IEnumerable<LifePlanner.Models.Jelo>

@{
    ViewData["Title"] = "Jela";
    int i = 0;
}

<div id="naslov">
    <h1>Jela</h1>
    <form asp-action="Create" style="display:inline;" method="get" id="dodaj">
        <button class="btn btn-light">Dodaj novo</button>
    </form>
    <form asp-action="" style="display:inline;" method="get" id="kategorije">
        <button class="btn btn-light">Pregled po kategorijama</button>
    </form>
</div>

<div id="jela">
    @foreach (var jelo in Model)
    {
        <div class="jelo">
            <h2>@jelo.Naziv</h2>
            <hr />
            <div class="vjezbe">
                @foreach (var sastojak in jelo.Sastojci)
                {
                    if (i == 3)
                    {
                        break;
                    }
                    i++;
                    <p>@sastojak</p>
                }
                @{ i = 0; }
            </div>
            <hr />
            <div class="dugmad">
                <form asp-action="Edit" style="display:inline;" method="get">
                    <input type="text" name="id" value="@jelo.Id" hidden />
                    <button class="btn btn-secondary">Uredi</button>
                </form>
                <form asp-action="Details" style="display:inline;" method="get">
                    <input type="text" name="id" value="@jelo.Id" hidden />
                    <button class="btn btn-info">Detaljnije</button>
                </form>
                <form asp-action="Delete" style="display:inline;" method="get">
                    <input type="text" name="id" value="@jelo.Id" hidden />
                    <button class="btn btn-danger">Obriši</button>
                </form>

            </div>
        </div>
    }
</div>



<!--

<a asp-action="Create">Kreiraj novi</a>

    -->
@section Styles {
    <link rel="stylesheet" href="~/css/jela.css" />
}