
@model IEnumerable<LifePlanner.Models.Jelo>

@{
    ViewData["Title"] = "JelaPoKategorijama";
    var dorucak = new Dictionary<string, string>
        {
           { "kategorija", "Dorucak" }          
        };
    var rucak = new Dictionary<string, string>
        {
           { "kategorija", "Ručak" }
        };
    var vecera = new Dictionary<string, string>
        {
           { "kategorija", "Večera" }
        };
}

@section Styles {
    <link rel="stylesheet" href="~/css/JelaPoKategorijama.css"/>
} 


<h1>JelaPoKategorijama</h1>
<a asp-controller="Jelo" asp-action="SvaJela"><input type="button" value="Sva jela"></a>
<div id="sveKategorije">
    <div id="dorucak" class="kategorija">
        <h2>Dorucak</h2>
        @foreach (var item in Model)
        {
            if (item.Kategorija == KategorijaJela.Dorucak)
            {
                @: <div class="@item.Naziv">@item.Naziv</div>
            }
        }
    <div class="dodavanjeNovog">
        <form asp-action="DodajUKategoriju" method="post">
            <input type="hidden" name="kategorija" value="1">
            <select name="idJela">
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Naziv</option>
                }
            </select>
            <input type="submit" value="Dodaj jelo" />
            @Html.AntiForgeryToken()
        </form>
        
    </div>

    </div>
    <div id="rucak" class="kategorija">
        <h2>Rucak</h2>
        @foreach (var item in Model)
        {
            if (item.Kategorija == KategorijaJela.Rucak)
            {
                @: <div class="@item.Naziv">@item.Naziv</div>
            }
        }
    <div class="dodavanjeNovog">
        <form asp-action="DodajUKategoriju" method="post">
            <input type="hidden" name="kategorija" value="2">
            <select name="idJela">
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Naziv</option>
                }
            </select>
            <input type="submit" value="Dodaj jelo" />
            @Html.AntiForgeryToken()
        </form>

    </div>
    </div>
    <div id="Vecera" class="kategorija">
        <h2>Vecera</h2>
        @foreach (var item in Model)
        {
            if (item.Kategorija == KategorijaJela.Vecera)
            {
                @: <div class="@item.Naziv">@item.Naziv</div>
            }
        }
    <div class="dodavanjeNovog">
        <form asp-action="DodajUKategoriju" method="post">
            <input type="hidden" name="kategorija" value="3">
            <select name="idJela">
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Naziv</option>
                }
            </select>
            <input type="submit" value="Dodaj jelo" />
            @Html.AntiForgeryToken()
        </form>

    </div>
    </div>
</div