
@model IEnumerable<LifePlanner.Models.Jelo>

@{
    ViewData["Title"] = "JelaPoKategorijama";
    var dorucak = new Dictionary<string, string>
        {
           { "kategorija", "Dorucak" }          
        };
    var rucak = new Dictionary<string, string>
        {
           { "kategorija", "Rucak" }
        };
    var vecera = new Dictionary<string, string>
        {
           { "kategorija", "Vecera" }
        };
}

@section Styles {
    <link rel="stylesheet" href="~/css/JelaPoKategorijama.css"/>
} 


<h1>JelaPoKategorijama</h1>

<div id="sveKategorije">
    <div id="dorucak" class="kategorija">
        <h2>Dorucak</h2>
        @foreach (var item in Model)
        {
            if (item.Kategorija == KategorijaJela.Dorucak)
            {
                @: <div class="@item.Naziv">@item.Naziv</div>
            }
        }
        <a asp-controller="Jelo" asp-action="DodajUKategoriju" asp-all-route-data="dorucak"><input type="button" value="Dodaj jelo"></a>
    </div>
    <div id="rucak" class="kategorija">
        <h2>Rucak</h2>
        @foreach (var item in Model)
        {
            if (item.Kategorija == KategorijaJela.Rucak)
            {
                @: <div class="@item.Naziv">@item.Naziv</div>
            }
        }
        <a asp-controller="Jelo" asp-action="DodajUKategoriju" asp-all-route-data="rucak"><input type="button" value="Dodaj jelo"></a>
    </div>
    <div id="Vecera" class="kategorija">
        <h2>Vecera</h2>
        @foreach (var item in Model)
        {
            if (item.Kategorija == KategorijaJela.Vecera)
            {
                @: <div class="@item.Naziv">@item.Naziv</div>
            }
        }
        <a asp-controller="Jelo" asp-action="DodajUKategoriju" asp-all-route-data="vecera"><input type="button" value="Dodaj jelo"></a>
    </div>
</div>
<a asp-controller="Jelo" asp-action="SvaJela"><input type="button" value="Sva jela"></a>