@model IEnumerable<LifePlanner.Models.Jelo>

@{
    ViewData["Title"] = "JelaPoKategorijama";
}

<div id="naslov">
    <h1>Jela po kategorijama</h1>
    <form asp-action="SvaJela" style="display:inline;" method="get">
        <button class="btn btn-light">Pregled svih jela</button>
    </form>
</div>

<div id="kategorije">
    <div id="dorucak">
        <h2>Doručak</h2>
        <div class="kategorija">
            @if (!Model.All(j => j.Kategorija == KategorijaJela.Dorucak))
            {
                <div class="dugmad">
                    <form asp-action="DodajUKategoriju" method="post" class="formaDodavanje">
                        <input type="hidden" name="kategorija" value="1">
                        <select name="idJela">
                            @foreach (var item in Model)
                            {
                                if (item.Kategorija == KategorijaJela.Dorucak) continue;
                                <option value="@item.Id">@item.Naziv</option>
                            }
                        </select>
                        <input type="submit" value="Dodaj jelo" class="btn btn-md btn-light" />
                        @Html.AntiForgeryToken()
                    </form>
                </div>
            }
            @foreach (var item in Model)
            {
                if (item.Kategorija == KategorijaJela.Dorucak)
                {
                    <form asp-action="DodajUKategoriju" method="post" class="jelo">
                        <p class="@item.Naziv">
                            @item.Naziv
                            <input type="button" name="Opis" value="Opis jela" class="btn btn-sm btn-info" onclick="location.href='@Url.Action("Details", "Jelo", new { id = item.Id })'  " />
                        </p>
                        <input type="hidden" name="kategorija" value="0" style="display: inline;">
                        <input type="hidden" name="idJela" value="@item.Id" style="display: inline;">
                        <input type="submit" value="Ukloni jelo" style="display: inline;" class="btn btn-sm btn-danger" />
                        @Html.AntiForgeryToken()
                    </form>
                }
            }
        </div>
    </div>

    <div id="rucak">
        <h2>Ručak</h2>
        <div class="kategorija">
            @if (!Model.All(j => j.Kategorija == KategorijaJela.Rucak))
            {
                <div class="dugmad">
                    <form asp-action="DodajUKategoriju" method="post" class="formaDodavanje">
                        <input type="hidden" name="kategorija" value="2">
                        <select name="idJela">
                            @foreach (var item in Model)
                            {
                                if (item.Kategorija == KategorijaJela.Rucak) continue;
                                <option value="@item.Id">@item.Naziv</option>
                            }
                        </select>
                        <input type="submit" value="Dodaj jelo" class="btn btn-md btn-light" />
                        @Html.AntiForgeryToken()
                    </form>
                </div>
            }
            @foreach (var item in Model)
            {
                if (item.Kategorija == KategorijaJela.Rucak)
                {
                    <form asp-action="DodajUKategoriju" method="post" class="jelo">
                        <p class="@item.Naziv">
                            @item.Naziv
                            <input type="button" name="Opis" value="Opis jela" class="btn btn-sm btn-info" onclick="location.href='@Url.Action("Details", "Jelo", new { id = item.Id })'  " />
                        </p>
                        <input type="hidden" name="kategorija" value="0" style="display: inline;">
                        <input type="hidden" name="idJela" value="@item.Id" style="display: inline;">
                        <input type="submit" value="Ukloni jelo" style="display: inline;" class="btn btn-sm btn-danger" />
                        @Html.AntiForgeryToken()
                    </form>
                }
            }
        </div>
    </div>


    <div id="vecera">
        <h2>Večera</h2>
        <div class="kategorija">
            @if (!Model.All(j => j.Kategorija == KategorijaJela.Vecera))
            {
                <div class="dugmad">
                    <form asp-action="DodajUKategoriju" method="post" class="formaDodavanje">
                        <input type="hidden" name="kategorija" value="3">
                        <select name="idJela">
                            @foreach (var item in Model)
                            {
                                if (item.Kategorija == KategorijaJela.Vecera) continue;
                                <option value="@item.Id">@item.Naziv</option>
                            }
                        </select>
                        <input type="submit" value="Dodaj jelo" class="btn btn-md btn-light" />
                        @Html.AntiForgeryToken()
                    </form>
                </div>
            }
            @foreach (var item in Model)
            {
                if (item.Kategorija == KategorijaJela.Vecera)
                {
                    <form asp-action="DodajUKategoriju" method="post" class="jelo">
                        <p class="@item.Naziv">
                            @item.Naziv
                            <input type="button" name="Opis" value="Opis jela" class="btn btn-sm btn-info" onclick="location.href='@Url.Action("Details", "Jelo", new { id = item.Id })'  " />
                        </p>
                        <input type="hidden" name="kategorija" value="0" style="display: inline;">
                        <input type="hidden" name="idJela" value="@item.Id" style="display: inline;">
                        <input type="submit" value="Ukloni jelo" style="display: inline;" class="btn btn-sm btn-danger" />
                        @Html.AntiForgeryToken()
                    </form>
                }
            }
        </div>
    </div>
</div>


<!--
<h1>Jela po kategorijama</h1>
<a asp-controller="Jelo" asp-action="SvaJela">Lista svih jela</a>
<hr />
<div id="sveKategorije">
    <div id="dorucak" class="kategorija">
        <h2>Doručak</h2>
        @foreach (var item in Model)
        {
            if (item.Kategorija == KategorijaJela.Dorucak)
            {
                <form asp-action="DodajUKategoriju" method="post" style="margin: 0; padding: 0;">
                    <p class="@item.Naziv">
                        @item.Naziv
                        <input type="hidden" name="kategorija" value="0" style="display: inline;">
                        <input type="hidden" name="idJela" value="@item.Id" style="display: inline;">
                        <input type="submit" value="Ukloni jelo" style="display: inline;" />
                    </p>
                    @Html.AntiForgeryToken()
                </form>
            }
        }
        @if (Model.Count() != 0)
        {
            <div class="dodavanjeNovog">
                <form asp-action="DodajUKategoriju" method="post">
                    <input type="hidden" name="kategorija" value="1">
                    <select name="idJela">
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">@item.Naziv</option>
                        }
                    </select>
                    <input type="submit" value="Dodaj jelo" />
                    @Html.AntiForgeryToken()
                </form>
            </div>
        }

    </div>
    <div id="rucak" class="kategorija">
        <h2>Ručak</h2>
        @foreach (var item in Model)
        {
            if (item.Kategorija == KategorijaJela.Rucak)
            {
                <form asp-action="DodajUKategoriju" method="post" style="margin: 0; padding: 0;">
                    <p class="@item.Naziv">
                        @item.Naziv
                        <input type="hidden" name="kategorija" value="0" style="display: inline;">
                        <input type="hidden" name="idJela" value="@item.Id" style="display: inline;">
                        <input type="submit" value="Ukloni jelo" style="display: inline;" />
                    </p>
                    @Html.AntiForgeryToken()
                </form>
            }
        }
        @if (Model.Count() != 0)
        {
            <div class="dodavanjeNovog">
                <form asp-action="DodajUKategoriju" method="post">
                    <input type="hidden" name="kategorija" value="2">
                    <select name="idJela">
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">@item.Naziv</option>
                        }
                    </select>
                    <input type="submit" value="Dodaj jelo" />
                    @Html.AntiForgeryToken()
                </form>
            </div>
        }

    </div>
    <div id="Vecera" class="kategorija">
        <h2>Večera</h2>
        @foreach (var item in Model)
        {
            if (item.Kategorija == KategorijaJela.Vecera)
            {
                <form asp-action="DodajUKategoriju" method="post" style="margin: 0; padding: 0;">
                    <p class="@item.Naziv">
                        @item.Naziv
                        <input type="hidden" name="kategorija" value="0" style="display: inline;">
                        <input type="hidden" name="idJela" value="@item.Id" style="display: inline;">
                        <input type="submit" value="Ukloni jelo" style="display: inline;" />
                    </p>
                    @Html.AntiForgeryToken()
                </form>
            }
        }
        @if (Model.Count() != 0)
        {
            <div class="dodavanjeNovog">
                <form asp-action="DodajUKategoriju" method="post">
                    <input type="hidden" name="kategorija" value="3">
                    <select name="idJela">
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">@item.Naziv</option>
                        }
                    </select>
                    <input type="submit" value="Dodaj jelo" />
                    @Html.AntiForgeryToken()
                </form>
            </div>
        }
    </div>
</div>
    -->
@section Styles {
    <link rel="stylesheet" href="~/css/JelaPoKategorijama.css" />
} 