@model IEnumerable<LifePlanner.Models.Raspolozenje>
@{
    ViewData["Title"] = "Raspolozenje";
    Layout = "_layout";
}

<div id="glavno">
    <div class="calendar light">
        <div class="calendar-header">
            <span class="month-picker" id="month-picker">February</span>
            <div class="year-picker">
                <span class="year-change" id="prev-year">
                    <pre><</pre>
                </span>
                <span id="year">2021</span>
                <span class="year-change" id="next-year">
                    <pre>></pre>
                </span>
            </div>
        </div>
        <div class="calendar-body">
            <div class="calendar-week-day">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="calendar-days"></div>
        </div>
        <div class="calendar-footer">
        </div>
        <div class="month-list"></div>
    </div>


    @if (ViewBag.postoji == false)
    {
        @:
        <form asp-action="Create" method="POST">
            <input type="datetime" name="Datum" value="@ViewBag.datumFull" hidden />
            <p>
                Na dan @ViewBag.datum osjecao/la sam se:
                <select asp-items="Html.GetEnumSelectList<TipRaspolozenja>()" name="TipRaspolozenja">
                    <option selected="selected" value="" disabled>Please select</option>
                </select>
            </p>
            <input type="submit" value="Spasi" />
            @Html.AntiForgeryToken()
        </form>
    }
    else
    {
        @:
        <form asp-action="Edit" method="POST">
            <input type="text" name="id" value="@ViewBag.id" hidden />
            <input type="datetime" name="Datum" value="@ViewBag.datumFull" hidden />
            <p>
                Na dan @ViewBag.datum osjecao/la sam se:
                <select name="TipRaspolozenja">
                    @if (ViewBag.raspolozenjeInt == 0)
                    {
                        <option selected="selected" value="0"> Dobro </option>
                        <option  value="1"> Srednje </option>
                        <option  value="2"> Lose </option>
                    }
                    else if (ViewBag.raspolozenjeInt == 1)
                    {
                        <option  value="0"> Dobro </option>
                        <option  selected="selected" value="1"> Srednje </option>
                        <option  value="2"> Lose </option>

                    }
                    else if (ViewBag.raspolozenjeInt == 2)
                    {
                        <option  value="0"> Dobro </option>
                        <option  value="1"> Srednje </option>
                        <option selected="selected" value="2"> Lose </option>

                    }
                </select>
            </p>
            <input type="submit" value="Spasi" />
            @Html.AntiForgeryToken()
        </form>
    }

</div>

@section Scripts {
    <script src="~/js/kalendar.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/kalendar.css" />
}
