@model LifePlanner.Controllers.ZadatakController.ViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "_layout";
}

<div id="glavno">
    <div id="savjet">
        <h2>Savjet</h2>
        <p style="text-align: center;">@ViewBag.savjet</p>
    </div>
    <div id="zadaci">
        <h2>Zadaci</h2>
        <form asp-action="Create" method="POST">
            <input type="text" name="Naziv" />
            <input type="datetime" name="Datum" value="@Model.OdabraniDatum" hidden />
            <input type="submit" value="Dodaj zadatak" />
            @Html.AntiForgeryToken()
        </form>
        @foreach (var item in Model.taskoviZaDan)
        {
            <form asp-action="Delete" method="POST">
                <p class="@item.Naziv">
                    @item.Naziv
                    <input type="hidden" name="id" value="@item.Id" style="display: inline;">
                    <input type="submit" value="Završi zadatak" style="display: inline;" />
                </p>
                @Html.AntiForgeryToken()
            </form>
        }
    </div>


    <div class="calendar light">
        <div class="calendar-header">
            <span class="month-picker" id="month-picker">February</span>
            <div class="year-picker">
                <span class="year-change" id="prev-year">
                    <pre><</pre>
                </span>
                <span id="year">2021</span>
                <span class="year-change" id="next-year">
                    <pre>></pre>
                </span>
            </div>
        </div>
        <div class="calendar-body">
            <div class="calendar-week-day">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="calendar-days"></div>
        </div>
        <div class="calendar-footer">
        </div>
        <div class="month-list"></div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div id="kakavDan">
            <h2>Kakav je bio dan?</h2>
            <div style="display: flex; flex-direction: row;">
                @if (Model.Raspolozenje != null)
                {
                    <form asp-controller="Mood" asp-action="Edit" method="POST" >
                        <input type="text" name="id" value="@Model.Raspolozenje.Id" hidden />
                        <input type="datetime" name="Datum" value="@Model.DanasnjiDatum" hidden />
                        <input type="number" name="TipRaspolozenja" value="0" hidden />
                        <input type="submit" name="submit" value="Dobro" />
                    </form>
                    <form asp-controller="Mood" asp-action="Edit" method="POST">
                        <input type="text" name="id" value="@Model.Raspolozenje.Id" hidden />
                        <input type="datetime" name="Datum" value="@Model.DanasnjiDatum" hidden />
                        <input type="number" name="TipRaspolozenja" value="1" hidden />
                        <input type="submit" name="submit" value="Srednje" />
                    </form>
                    <form asp-controller="Mood" asp-action="Edit" method="POST">
                        <input type="text" name="id" value="@Model.Raspolozenje.Id" hidden />
                        <input type="number" name="TipRaspolozenja" value="2" hidden />
                        <input type="submit" name="submit" value="Loše" />
                        @Html.AntiForgeryToken()
                    </form>
                }
                else
                {
                    <form asp-controller="Mood" asp-action="Create" method="POST">
                        <input type="datetime" name="Datum" value="@Model.DanasnjiDatum" hidden />
                        <input type="number" name="TipRaspolozenja" value="0" hidden />
                        <input type="submit" name="submit" value="Dobro" />
                    </form>
                    <form asp-controller="Mood" asp-action="Create" method="POST">
                        <input type="datetime" name="Datum" value="@Model.DanasnjiDatum" hidden />
                        <input type="number" name="TipRaspolozenja" value="1" hidden />
                        <input type="submit" name="submit" value="Srednje" />
                    </form>
                    <form asp-controller="Mood" asp-action="Create" method="POST">
                        <input type="datetime" name="Datum" value="@Model.DanasnjiDatum" hidden />
                        <input type="number" name="TipRaspolozenja" value="2" hidden />
                        <input type="submit" name="submit" value="Loše" />
                    </form>
                }
            </div>
        </div>
    }
</div>


@section Scripts {
    <script src="~/js/kalendar.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/kalendar.css" />
    <link rel="stylesheet" href="~/css/zadaci.css" />
}
