@model IEnumerable<LifePlanner.Models.Trening>

@{
    ViewData["Title"] = "Treninzi";
    int i = 0;
}

<div id="naslov">
    <h1>Treninzi</h1>
    <form asp-action="Create" style="display:inline;" method="get" id="dodaj">
        <button class="btn btn-light">Dodaj novi</button>
    </form>
    <form asp-action="Sort" style="display:inline;" method="get" id="sortiraj">
        <button class="btn btn-light">Sortiraj</button>
    </form>
</div>

<div id="treninzi">
    @foreach (var trening in Model)
    {
        <div class="trening">
            <h2>@trening.Naziv</h2>
            <hr />
            <div class="vjezbe">
                @foreach (var vjezba in trening.Vjezbe)
                {
                    if (i == 3)
                    {
                        break;
                    }
                    i++;
                    <p>@vjezba</p>
                }
                @{ i = 0; }
            </div>
            <hr />
            <div class="dugmad">
                <form asp-action="Edit" style="display:inline;" method="get">
                    <input type="text" name="id" value="@trening.Id" hidden />
                    <button class="btn btn-secondary">Uredi</button>
                </form>
                <form asp-action="Details" style="display:inline;" method="get">
                    <input type="text" name="id" value="@trening.Id" hidden />
                    <button class="btn btn-info">Detaljnije</button>
                </form>
                <form asp-action="Delete" style="display:inline;" method="get">
                    <input type="text" name="id" value="@trening.Id" hidden />
                    <button class="btn btn-danger">Obriši</button>
                </form>

            </div>
        </div>
    }
</div>



<!--

<a asp-action="Create">Kreiraj novi</a>

    -->
@section Styles {
    <link rel="stylesheet" href="~/css/treninzi.css" />
}