@model IEnumerable<LifePlanner.Models.Trening>

@{
    ViewData["Title"] = "Treninzi";
}

<h1>Treninzi</h1>

<p>
    <a asp-action="Create">Kreiraj novi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vjezbe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                <table>
                    @for (int i = 0; i < item.Vjezbe.Count; i++)
                    {
                        @:<tr>
                            @item.Vjezbe[i]
                        @:</tr></br>
                    }
                </table>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Opis</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
